@import "src/assets/css/root.scss";

.active {
  color: #f2f2f2;
  opacity: .8 !important;
}
.lyrics {
  display: inline-block;
  margin-top: 61px;
  padding: 200px 20px 54px;
  overflow: auto;
  div {
    line-height: 27px;
    cursor: default;
    font-size: 16px;
    padding: 0 20px;
    user-select: none; /* 标准语法 */
  }

}

.lyrics_container {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* 让歌词不换行 */
}

.lyrics-item {
  color: #f2f2f2;
  opacity: .3;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}