@import "src/assets/css/root.scss";
.router-warp {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0;
    .account-info {
        margin-top: 100px;
        .router-item {
            margin-bottom: 5px;
            border-radius: 10px;
            width: 100%;
            padding: 20px;
            color: #000;
            background-color: transparent;
            position: relative;
            text-align: left;
            &:hover {
                color: $theme-active-color;
            }
            i {
                width: 16px;
                font-size: 20px !important;
            }
        }
    }
}
.router-item {
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    color: #000;
    background-color: transparent;
    position: relative;
    text-align: left;
    i {
        margin: 0 5px;
        width: 16px;
        height: 16px;
        font-size: 20px !important;
    }
    .itemSolidButton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        border-radius: 10px;
        background-color: $theme-active-color;
    }
    img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        vertical-align: middle;
    }
    &:hover  {
        color: $theme-active-color;
    }
    &:hover .itemSolidButton {
        width: 100%;
    }
}
.action {
    color: $theme-active-color;
}
