$header-background-color: #f4f5fe;
$header-font-color: #fff;
$header-button-background-color: #fff;
$header-button-font-color: #2b253b;
$header-search-background-color: #fff;
$header-search-font-color: #ccc;
$header-search-border-radius: 14px;
$header-search-padding: 5px 10px;
$theme-background-coloor: #f4f5fe;
$theme-active-color: #ea4c89;
$theme-default-bg-color: #ccc;
$theme-main-background-color: #fff;
$theme-main-raduus-big: 10px;
$theme-main-raduus-small: 5px;