@import "../../assets/css/root.scss";
.recommend-play-list-warp {
  padding: 0 15px;
  display: flex;
  h2 {
    font-weight: 200;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;

    button{
      padding: 5px 10px;
      font-size: 10px;
      background-color: transparent;
      border: 1px solid #2b253b;
      border-radius: 5px;
      i {
        font-size: 10px;
      }
    }
  }
  .list-warp-l {
    padding-right: 20px;
    .recommend-segmented {
      box-shadow: 0 0 15px 1px $theme-background-coloor;
      padding: 3px;
    }
  }
}
.segmented-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.segmented-item {
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  height: 120px;
  position: relative;
  .segmented-item-mask {
    position: absolute;
    top: 5px;
    width: 100px;
    height: 100px;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 4px );
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 0;
      color: #fff;
      &:hover {
        color: $theme-active-color;
      }
    }
  }
  &:hover .segmented-item-mask{
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 4px );
  }
  img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
  &:hover p{
    color: $theme-active-color;
  }
  &:hover i {
    font-size: 30px;
  }
  p {
    margin-top: 5px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
}
.play-list-info {
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(2, 1fr);
}
.play-list-info-item{
  background-color: $theme-main-background-color;
  padding: 0 5px;
  display: flex;justify-content: space-around;
  margin: 10px;
  border-radius: 10px;
  &:hover {
    box-shadow: 0 0 15px 2px $header-background-color;
  }
  & > div {
    width: 40%;
    padding: 10px 0;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 25px;
      max-height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    & > img {
      border-radius: 5px;
    }
  }
}
