.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}

.ant-modal-mask {
    backdrop-filter: blur(10px);
}
.ant-modal-content{
    background-color: rgba(255, 255, 255 ,.5) !important;
}
.ant-modal-header {
    background-color: transparent !important;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
