@import "src/assets/css/root.scss";

.banner-warp {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  display: flex;
  img {
    height: 300px;
    width: 100%;
  }
  .banner-item {
    position: relative;
    button {
      position: absolute;
      right: 40px;
      bottom: 20px;
      border-radius: 10px;
      padding: 10px 20px;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
    }
  }
}